playwright

# Database
psycopg2-binary
pandas
python-dotenv

# Scraping
playwright

# Dashboard / Data handling
matplotlib
plotly
dash

# Utils
requests
tqdm

# Testing
pytest
pytest-cov

# Linting
pylint
